
/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


/* COLOR */
$color-background: #F5F5F5;
$color-main: #4b4d4c;
$color-active: #FFF;
$color-link: #FFF;

$lightOrange: rgb(207, 126, 21);
$darkOrange: rgb(255, 126, 6);
$mainBlue: rgb(25, 2, 235);
$mainYellow: rgb(243, 247, 8);
$beige: rgb(234, 235, 194);

$button-height: 27px;
$button-width: 35px;



